extends layout

block content
  - if(session.oauth_access_token)
    h3 Link your notebooks
    - if(session.notebooks)
    ul
      label.checkbox
        input(type="checkbox", value="squirrel links", checked=true, class="book-checkbox")
        p Squirrel Links
      - for (var i = 0; i < session.notebooks.length; ++i)
        //- li= session.notebooks[i].name
        label.checkbox
            input(type="checkbox",value= session.notebooks[i].guid, class="book-checkbox")
            p= session.notebooks[i].guid
            p= session.notebooks[i].name
    h3 How often do you want our spamz!?
      label.checkbox
        input(type="checkbox", value="once a week")
        p once a week
      label.checkbox
        input(type="checkbox", value="once a month")
        p once a month
      label.checkbox
        input(type="checkbox", value="once a decade")
        p once a decade
      button.btn.btn-large.btn-success#save-profile
        p Save
  - else
    .container.content#main-box
      .textsection
        h3 Read more later. Get newsletter.
        p 
          |Lorem ipsum dolor sit amet, 
          |consectetur adipiscing elit. 
          |Mauris sed sapien non tellus 
          |rhoncus bibendum molestie quis sem. 
          |Praesent velit tortor, vehicula a 
          |imperdiet eget, sagittis quis eros.
      h2.form-signin-heading
        img(src="assets/img/evernote_logo.png")
        p Sign In
      a(href='/oauth')
        button.btn.btn-large.btn-success
          p Sign In
    #push
    #footer
      .container
        p.muted.credit 
          |Developed by 
          a(href="http://") Jabari Bell
          |and 
          a(href="http://") Zainab Ebrahimi
        


