doctype 5
html
  head
    title SQUIRREL
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    include ../public/assets/css/squirrel.css
    include ../public/assets/vendor/bootstrap/css/bootstrap.css
  body
    .main
        #wrap
          .navbar-static-top.topbar
            h3 squirrel
        block content
