html
  head
    include ../public/assets/css/squirrel.css
    include ../public/assets/vendor/bootstrap/css/bootstrap.css
    //- include ../public/assets/vendor/bootstrap/css/bootstrap-responsive.css
    //- link(rel='stylesheet', href='public/assets/vendor/bootstrap/css/bootstrap.css')
    //- link(rel="stylesheet", href='public/assets/css/squirrel.css' )
  body
    .main
    #wrap
      .navbar-static-top.topbar
        h3 squirrel
      .container.content
        .textsection
          h3 Read more later. Get newsletter.
          p 
            |Lorem ipsum dolor sit amet, 
            |consectetur adipiscing elit. 
            |Mauris sed sapien non tellus 
            |rhoncus bibendum molestie quis sem. 
            |Praesent velit tortor, vehicula a 
            |imperdiet eget, sagittis quis eros.
      #push
      #footer
        .container
          p.muted.credit 
            |Developed by 
            a(href="http://") Jabari Bell
            | and 
            a(href="http://") Zainab Ebrahimi