body {
        /*padding-top: 40px;
        padding-bottom: 40px;*/
        /*background-color: #72451d;*/
        height:100%;
        
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px 150px;
  /*background-color:#fff ;*/
  /*border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading{
  color:#ddaa7e;
  font-weight: lighter;
  font-size:24px;
  line-height: 24px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin img{
  height: 30px;
  width: 25px;
  float: left;
  padding-right: 13px;
  padding-top: 5px;

}
.form-signin p{
  /*font-size: 14px;*/
  font-weight: lighter;
  text-align: center; 

}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  /*background-color: #72451d;*/
}

 /* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  text-align: center;
}

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

#wrap > .container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.container{
  
}
.topbar{
  margin-bottom: 50px;
  height: 50px;
  border-bottom: 4px solid #5bb75b;
  background-color: #fff;
  
}
.topbar h3 {
  padding-left: 50px;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  color: #999999;
}
.content{
  background-color: #72451d;
  color:#ddaa7e;
  /*#2b1d0e
  #5e3918*/
  border: 20px solid #492c13 ;
  -webkit-box-shadow: 0 8px 6px -6px #2b1d0e;
     -moz-box-shadow: 0 8px 6px -6px #2b1d0e;
          box-shadow: 0 8px 6px -6px #2b1d0e;
  margin-top: 50px;
}
.content h3{
  font-weight: lighter;
  color:#fff;
  font-size: 40px;
}

.some{
  color:#006dcc;
  background-color: #f2f2f2;
}
 .textsection{
  margin: 60px 0px 10px 150px;
  width: 600px;
  float:left;


 }

label.checkbox{
  font-size:26px;
}

 .textsection h3{
  font-size:60px;
  color:#fff;
 }

button.main{
  margin:40px auto 20px 150px;
}

button.save{
  margin:40px auto 20px 0px;
}
.settings{
  padding-left: 300px;
}
h3.notebook{
  margin-left:50px;
}
